<div class="container tijelo">

<div class="row">
    	<div class="col-lg-12">
            <h3 class="page-header">O NAMA:
                <hr>
                <h5 class="page-podheader">Ko smo mi?</h5>
                <hr>
            </h3>
      </div>
</div>

<div class="row">

 <div class="col-md-6">
      
      
        <%= image_tag("rings.jpg", :alt => "rings photo",  :class => "pic-aboutus") %>
      
    
        
</div>

 <div class="col-md-6" >
 	<p class="aboutus-text">Mi smo grupa mladih entuzijasta zaljubljenih u sretne i nezaboravne trenutke Vaseg zivota. <br/>
 	Prvo vjencanje organizovali smo i planirali prije vise od <b><i> 5 godina</i></b>, a nas tim predano radi kako na licnom tako i na profesinalnom usavrsavanju kako bismo Vam ponudili samo najbolje.
 	Organizovali smo preko <b><i>120 slavlja </i></b> i bili dijelom neizmjerne srece i zadovoljstva nasih klijenta.
 	Mi planiramo, dizajniramo, uredjujemo i upravljamo slavljima sirom svijeta. Od malih, intimnih okupljanja do velikih raskosnih dogadjaja, nasa vjencanja i zabave su nezaboravna, magicna iskustva, savrseno isplanirana i predivno realizovana.</p>
 </div>

</div>

<div class="row">
	<p class="aboutus-text">
		Kao rezultat dugogodisnjeg iskustva nastale su i dvije knjige o vjencanjima koje su za kratko vrijeme postale jedne od najcitanjih iz oblasti organizovanja vjencanja.
		Takodjer, ponosni smo sto smo bili dijelom <b><i> kraljevskog</i> </b> vjencanja <b><i>princa Williama </i></b> i <b><i> Kate Middleton</i></b>. 
	</p>
	
</div>